html
  head
    title Sistema de pago UNITEC - Credito
    include ../includes/css.jade
  body
    .metodoPagoHeader
      h1 Tarjeta de Credito
    .metodoPagoCredito
      br
      form.form-horizontal
        .control-group
          label.control-label Tipo de tarjeta: <span style="color: rgb(239, 0, 27);">*</span>
          .controls
            select.span3(name='tipo_tarjeta')
              option(value='')
              option(value='visa') Visa
              option(value='master') MasterCard
              option(value='amex') American Express
        .control-group
          label.control-label Numero de Tarjeta: <span style="color: rgb(239, 0, 27);">*</span>
          .controls
            input.span3(type='text', name='numero_tarjeta')
        .control-group
          label.control-label Fecha de Vencimiento: <span style="color: rgb(239, 0, 27);">*</span>
          .controls
            |Dia: &nbsp&nbsp
            select.span1(name='mes_vencimiento')
              option(value='')
              option(value='1') 1
            |&nbsp&nbsp
            |Año: &nbsp&nbsp
            select.span1(name='ano_vencimiento')
              option(value='')
              option(value='2014') 2014
        .control-group
          label.control-label Nombre y apellido: <span style="color: rgb(239, 0, 27);">*</span>
          .controls
            input.span3(type='text', name='nombre_tarjeta')
        .control-group
          label.control-label Cédula de Identidad <span style="color: rgb(239, 0, 27);">*</span>
          .controls
            input.span3(type='text', name='cedula_tarjeta')
        .control-group
          label.control-label Código de seguridad <span style="color: rgb(239, 0, 27);">*</span>
          .controls
            input.span1(type='text', name='codigo_tarjeta', maxlength="3")

        p.help-block Todos los compos con <span style="color: rgb(239, 0, 27);">*</span> son obligatorios.
        h3 Total a pagar: *total a pagar*
        button.btn.btn-primary.btn-large Confirmar pago